<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>London Salsa Events</title>
        <meta name="description" contents="London Salsa Events">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <h1>YAY SALSA!!!</h1>

    </body>
</html>
