
<div class="container">
    <div class="row">
        <h1 style="text-align: center; margin: 20px auto">Create a new Salsa Event</h1>
        <div style="width: 50%; margin: 20px auto">
            <form action="/salsaevents" method="POST" >
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="location">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="description">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="day">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="time">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
                <a href="/campgrounds">Go Back</a>
            </form>
        </div>
    </div>
</div>
